body {
    font-family: "Avenir Next Rounded", "Avenir Next Rounded", "Avenir", "Calibri", Verdana, sans-serif;
}

thead {
    background-color: #EEE;
}

.text-align\:center {
    text-align: center;
}

.table td, .table th {
    padding-bottom: 0;
}

.table p {
    margin-bottom: 10px;
}

.table.full-width {
    width: 100% !important;
    display: table !important;
}