body {
    font-family: "Avenir Next Rounded", "Avenir Next Rounded", "Avenir", "Calibri", Verdana, sans-serif !important;
}

.header-style, h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next Rounded", "Avenir Next Rounded", "Avenir", "Calibri", Verdana, sans-serif !important;
}

thead {
    background-color: #EEE;
}

.text-align\:center {
    text-align: center;
}

.table td, .table th {
    padding: .75rem 2rem 0 .75rem;
}

.table p {
    margin-bottom: 10px;
}

main.bd-content #main-content div.section {
    padding-right: 0;
}

.container {
    padding-right: 0;
}


@media (min-width: 768px) {
    img.full-width {
        max-width: 136% !important;
    }
}


/* Enable to make github dropdown from header a bit wider to support "Suggest and Edit" functionality on one line

div.dropdown-buttons-trigger div.dropdown-buttons button.topbarbtn {
    min-width: 130px !important;
}

div.dropdown-buttons-trigger div.dropdown-buttons {
    max-width: 140px !important;
}

*/